<div id="pageContainer">
    <header>
        <h1 id="title">Smart-Mart</h1>
        <nav>
            <ul class='navbar'>
                <li class="nav-item home">
                    <a href='/store'>Home</a>
                </li>
                <br>
                <br>
                <li class="nav-item">
                    <a href='/store/products/search'>Search Products</a>
                </li>
                <li class="nav-item">
                    <a href='/store/categories/search'>Search Categories</a>
                </li>
                <br>
                <br>
                <li class="nav-item">
                    <a href='/store/products/create'>New Product</a>
                </li>
                <li class="nav-item">
                    <a href='/store/categories/create'>New Category</a>
                </li>
            </ul>
        </nav>
    </header>
    <div id="container">
        <p id="greeting">Search Categories</p>
        <form method='POST' action=''>
            <div class="form-group-single">
                <input name='name' class='search' id='name' placeholder="Search Categories..." required="true"></input>
            </div>
            <button id="submitBtn" type='submit'>Submit</button>
        </form>
        <div id="container">
            <p class="body-para">There are currently no categories listed</p>
        </div>
    </div>
    <footer>© Smart-Mart</footer>
</div>