<div id="pageContainer">
    <header>
       <div id="headerInner">
        <h1 id="title">Smart-Mart</h1>
        <nav>
            <ul class='navbar'>
                <li class="nav-item home">
                    <a href='/store'>Home</a>
                </li>
                <br class="navBr">
                <br class="navBr">
                <li class="nav-item">
                    <a href='/store/products/search'>Search Products</a>
                </li>
                <li class="nav-item">
                    <a href='/store/categories/search'>Search Categories</a>
                </li>
                <br class="navBr">
                <br class="navBr">
                <li class="nav-item">
                    <a href='/store/products/create'>New Product</a>
                </li>
                <li class="nav-item">
                    <a href='/store/categories/create'>New Category</a>
                </li>
            </ul>
        </nav>
        </div>
    </header>
    <div id="container">
        <form method='POST' action=''>
            <h4 id="form-title">Update Category: <span class="u-name">{{category.name}}</span></h4>
            <div class="form-group">
                <label for='name'>Name </label>
                <br>
                <input name='name' class='wide' id='name' required="true" value="{{category.name}}"></input>
            </div>
            <button id="submitBtn" type='submit'>Submit</button>
        </form>
    </div>
    <footer>© Smart-Mart</footer>
</div>