<div id="pageContainer">
    <header>
        <h1 id="title">Smart-Mart</h1>
        <nav>
            <ul class='navbar'>
                <li class="nav-item home">
                    <a href='/store'>Home</a>
                </li>
                <br>
                <br>
                <li class="nav-item">
                    <a href='/store/products/search'>Search Products</a>
                </li>
                <li class="nav-item">
                    <a href='/store/categories/search'>Search Categories</a>
                </li>
                <br>
                <br>
                <li class="nav-item">
                    <a href='/store/products/create'>New Product</a>
                </li>
                <li class="nav-item">
                    <a href='/store/categories/create'>New Category</a>
                </li>
            </ul>
        </nav>
    </header>
    <div id="container">
        <div id="product-detail">
            <h1 id="greetingErr">Error: <span class="u-name">{{title}}</span></h1>
            <div id="searchResults">
                <p class="no-results">{{message}}</p>
            </div>
        </div>
    </div>
    <footer>© Smart-Mart</footer>
</div>