<div id="pageContainer">
    <header>
        <h1 id="title">Smart-Mart</h1>
        <nav>
            <ul class='navbar'>
                <li class="nav-item home">
                    <a href='/store'>Home</a>
                </li>
                <br>
                <br>
                <li class="nav-item">
                    <a href='/store/products/search'>Search Products</a>
                </li>
                <li class="nav-item">
                    <a href='/store/categories/search'>Search Categories</a>
                </li>
                <br>
                <br>
                <li class="nav-item">
                    <a href='/store/products/create'>New Product</a>
                </li>
                <li class="nav-item">
                    <a href='/store/categories/create'>New Category</a>
                </li>
            </ul>
        </nav>
    </header>
    <div id="container">
        <form method='POST' action=''>
            <h4 id="form-title">Enter New Product</h4>
            <div class="form-group">
                <label for='name'>Name </label>
                <br>
                <input name='name' class='wide' id='name' required="true"></input>
            </div>
            <br>
            <div class="form-group">
                <label for='description'>Description (optional) </label>
                <br>
                <textarea name='description' class='wide' id='description'></textarea>
            </div>
            <br>
            <div class="form-group">
                <label for='price'>Price </label>
                <br>
                <input name='price' class='wide' id='price' required="true"></input>
            </div>
            <br>
            <div class="form-group">
                <label for='name'>Category </label>
                <br>
                <select name='category' class='wide' id='category' required="true">
                    <option disabled="true" selected="true">Select an option...</option>
                    {{#each categories}}
                    <option value={{this._id}}>
                        {{this.name}}
                    </option>
                    {{/each}}
                </select>
            </div>
            <br>
            <div class="form-group">
                <label for='stock'>Number in stock (optional) </label>
                <br>
                <input name='stock' class='wide' id='stock'></input>
            </div>
            <button id="submitBtn" type='submit'>Submit</button>
        </form>
    </div>
    <footer>© Smart-Mart</footer>
</div>