#searchResults {
	display: flex;
	justify-content: center;
	flex: 1 1 100%;
	margin-top: 20px;
}

#product-detail {
	position: relative;
}

.product-full {
	width: 100%;
}

.body-para-top {
	text-align: center;
	font-family: "Gotu", sans-serif;
}

.bullets {
	text-align: center;
	margin-top: 10px;
}

.bullets-cat {
	text-align: center;
}

.bulleted-top {
	margin-top: 0px;
	font-family: "Gotu", sans-serif;
}

.bulleted {
	margin-top: 5px;
	font-family: "Gotu", sans-serif;
}

.detail-heading {
	text-align: center;
}

footer {
	flex: 0 1 60px;
	border-top: 2px solid black;
	color: rgb(17, 0, 255);
	font-weight: bold;
	font-size: 20px;
	text-shadow: 2px 1px 1px rgb(0, 183, 255);
	font-family: "Gotu", sans-serif;
	line-height: 60px;
	background-color: rgb(236, 241, 243);
}

@media screen and (max-width: 920px) {
	form {
		margin-top: 0px;
	}
}
